$primaryColor: #444;
$secondaryColor: #eece1a;
$textColor: #fff;
$showHomeImage: true;
$homeImage: url(../img/background.jpg);
$backgroundOpacity: 0.5;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $showHomeImage {
        &#bg-img {
            background: $homeImage;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primaryColor, $backgroundOpacity);
            }
        }
    }
}